article#articleFull{
  /* display: flex; */
  /* flex-direction: column; */
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

h1#articleFullTitle{
  font-size: 28px;
  display: inline-block;
  max-width: 85%;
}

p.articleFullSpecialPosition{
  margin: 0;
  position: relative;
  bottom: 18px;
  left: 75px;
  
}

p#articleFullP{
  text-align: justify;
  font-size: 18px;
  line-height: 1.5em;
}

pre#articleFullCode{
  font-family: monospace;
  border: 1px solid firebrick;
}
